#root {
  max-width: 100%;

}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('./assets/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;

}

#vdo1 {
  width: 35%;
  margin-left: 40px;
}

.vdo22 {
  position: relative;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.second1 {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.second1>button {
  margin-top: 1%;
  padding: 18px;
  outline: none;
  border: none;
  color: white;
  background-color: gray;
  font-size: larger;
  width: 90vw;
}


.second {
  height: 90vh;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.line {
  border: 8px solid rgb(80, 75, 75)
}

#get {
  color: white;
  background-color: red;
  border: none;
  outline: none;
  border-radius: 3px;
  width: 20%;
  position: relative;
  top: 55%;
  height: 10%;
}

#email {
  position: relative;
  top: 55%;
  border-radius: 5px;
  background-color: transparent;
  right: 7%;
  width: 30%;
  height: 10%;
  border: #ffffff solid 1px;
  color: whitesmoke;
  font-size: 900;
}

#btnf {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 10%;
}

#get1 {
  background-color: red;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 900;
  margin: 20px;
}

.second1>div>p {
  color: white;
  font-size: larger;
  background-color: gray;
  width: 90vw;
  margin-top: 8px;
}

/* footer start */ 


.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070707;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

/* footer end */


#email1 {
  margin: 20px;
  color: #ffffff;
  font-size: larger;
  border: 1px solid white;
  outline: none;
  border-radius: 3px;
  width: 40%;
  padding: 20px;
  background: transparent;

}

.main>h1 {
  text-wrap: auto;
  font-weight: 900;
  color: white;
  position: relative;
  top: 40%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.select {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  position: absolute;
  color: white;
  padding: 4px 2px;
  right: 24%;
  top: 5%;
  border-color: gray;
  border-radius: 4px;
}

#sign {
  background-color: red;
  position: absolute;
  right: 7%;
  outline: none;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 4px;
  padding: 3px 10px;
  top: 4.5%;
  color: #ffffff;

}

@media only screen and (max-width : 900px) {
  #sign {
    top: 5%;
  }

  #vdo1 {
    width: 70%;
    margin-left: auto;
    margin-top: 0%;
  }

  #logo {
    width: 150px !important;
    top: 4% !important;

  }

  .second {
    height: 700px;
  }

}

@media only screen and (min-width : 821px) {
  #sign {
    right: 15%;
    top: 5%;
  }

  .second {
    display: flex;
    align-items: center;
  }

}

@media only screen and (max-width: 500px) {
  #logo {
    top: 3% !important;
    width: 30% !important;
  }

  #vdo1 {
    margin-top: 20%;
    margin-left: auto;


  }

  .second {
    height: 30rem;
  }


  #email {
    width: 90%;
    top: 40%;
    left: auto;
    right: auto;
  }

  #get {
    width: 40%;
    top: 45%;
  }

  .select {
    top: 6%;
    width: 90px;
  }

  #sign {
    top: 6%;
    right: 4%;
  }
}